.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
section{
    box-sizing: content-box;
    width: 300px;
    margin: 10px;
    box-shadow: 0px 0px 5px 3px grey;
    border-radius: 5px;
}
p{
    margin: 10px;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
hr{
    width: 75%;
    color: rgb(228, 228, 228);
}
.bot{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

button{
    padding: 10px;
    background-color: #ee665c;
    width: fit-content;
    color: white;
    align-self:flex-start;
    margin: 10px;
    border: 0;
}

.title{
    font-size: 25px;
}

.under{
    font-size: 20px;
    color: red;
}
.comment{
    font-size: 14px;
}

@media (max-width: 939px){
    section{
        width: 200px;
    }
}
@media (max-width: 480px){
    section{
        width: 100%;
    }
}
